#user, #admin {
    /* width: 16%;
    margin: 1rem auto; */
    width: 45%;
    margin: 1rem;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 98vh;
}

#adminForm {
    width: 60%;
    /* margin: auto; */
}

.box {
    width: 100vw;
    height: 100vh;
    background-color: #eaeaea;
}

.box:after {
    content: ' ';
    border-top: 100vh solid #242021;
    border-right: 100vw solid transparent;
    width: 0;
    position: absolute;
}

.wrapper {
    height: 40%;
    width: 30%;
    display: flex;
    flex-direction: column;
    background-color: beige;
    justify-content: center;
    align-items: center;
}
.shadow {
    box-shadow: 0 .5rem 1rem rgb(114,108,168)!important;
}

h1{
    margin-bottom: 1em;
    color: #007bff;
}